.left_bar
  .left_bar__header
  .left_bar__main
    .left_bar__main--top
   
    .left_bar__main--bottom  
      .group
        .group__name
          group一覧
        %span.nav_toggle
          %i
          %i
          %i
        %nav.nav
          %ul.nav_menu_ul
            %li.nav_menu_li
              =link_to "#" do
                .group-name
                  1年１組
            %li.nav_menu_li
              =link_to "#" do
                .group-name
                  1年１組
            %li.nav_menu_li
              =link_to "#" do
                .group-name
                  1年１組
            %li.nav_menu_li
              =link_to "#" do
                .group-name
                  1年１組