* {
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
  width: 100%;
  display: flex;

  // ここからleft_bar
  .left_bar{
    width: 17%;
    height: 100vh;
    &__header{
      height: 50px;
      background-color: green;
      border-bottom: solid 1px #ebebeb;
    }
    &__main{
      height: calc(100vh - 50px);
      background-color: green;
      &--top{
        height: 100px;
        border-bottom: solid 1px #ebebeb;
        display: flex;
        .name-box{
          height: 100%;
          width: 70%;
          padding-left: 30px;
          padding-top: 10px;
          &__group{
          height: 70%px;
          width: 100%;
          overflow: scroll;
          color: white;
          // font-size: 25px;
          }
          &__nick{

          }
        }
        .new-group{
          width: 30%;
        }
      }
     
      &--bottom{
        height: calc(100vh - 200px);
        .group{
          height: calc(100vh - 200px);
          &__name{
            height: 30px;
          }

        .nav_toggle {
          height: calc(100vh - 230px);
          display: block;
          position: relative;
          width: 1.75rem;
          height: 1.5rem;
          cursor: pointer;
        
        }
          .nav_toggle i {
            display: block;
            width: 100%;
            height: 2px;
            background-color: #333;
            position: absolute;
            transition: transform .5s, opacity .5s;
          }
          .nav_toggle i:nth-child(1) {
              top: 0;
          }
          .nav_toggle i:nth-child(2) {
              top: 0;
              bottom: 0;
              margin: auto;
          }
          .nav_toggle i:nth-child(3) {
              bottom: 0;
          }
          .nav_toggle.show i:nth-child(1) {
            transform: translateY(10px) rotate(-45deg);
          }
          .nav_toggle.show i:nth-child(2) {
              opacity: 0;
          }
          .nav_toggle.show i:nth-child(3) {
              transform: translateY(-12px) rotate(45deg);
          }
          .nav {
            width: 100%;
            height: calc(100vh - 230px);
            top: 3rem;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 1rem;
            opacity: 0;
            visibility: hidden;
            transition: opacity .5s, visibility .5s;
            .nav_menu_ul{
              width: 100%;
              height: calc(100vh - 230px);
              
              .nav_menu_li{
                width: 100%;
                height: 50px;
                .group-name{
                  height: 50px;
                  width: 100%;
                  // border-bottom: solid 1px black;
                  
                }
              }
            }
           }
          .nav.show {
            height: calc(100vh - 230px);
            opacity: 1;
            visibility: visible;
            width: 100%;
          }
        }
      }
    }
  }



  .main_bar{
    width: 58%;
    height: 100vh;
    &__header{
      height: 50px;
      background-color: green;
      width: 100%;
    }
    &__main{
      height: calc(100vh - 50px);
      background-color: white;
      width: 100%;
      .main-top{
        height: 70px;
        background-color: white;
        border-bottom: 2px solid #ebebeb;
        border-right: 2px solid #ebebeb;
      }
      .main-center{
        background-color: white;
        border-bottom: 2px solid #ebebeb;
        border-right: 2px solid #ebebeb;
        height: calc(100vh - 220px);
      }
      .main-bottom{
        background-color: white;
        border-bottom: 2px solid #ebebeb;
        border-right: 2px solid #ebebeb;
        height: 100px;
        width: 100%;
        padding: 28px 70px 20px 70px;
        .new_message{
          position: relative;
          display: flex;
          width: 100%;
          .message-box{
            height: 50px;
            width: 90%;
            border:solid 1px black;
            border-radius:10px;
          }
          .form-mask{
            position: absolute;
            top: 5px;
            right: 90px;
            &__image{
              .icon{
              font-size: 1.4rem;
              }
              .hidden{
                display: none;
              }
            }
          }
          .submit-btn{
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
            margin-left: 20px;
            &__icon{
            font-size: 2rem;
            }
          }
        }
      }
    }
  }





  .right_bar{
    width: 25%;
    height: 100vh;
    &__header{
      height: 50px;
      background-color: green;
    }
    &__main{
      height: calc(100vh - 50px);
      background-color: blue;
    }
  }
}
a{
  text-decoration: none;
}